.mainMenu{
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: -ms-flexbox;

    /* -ms-flex-flow: row nowrap; */
    /* flex-flow: row nowrap; */

    /* -ms-flex-pack: start; */
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 10px 12px;
    flex: 2;
}
.leftPartMenu{
    display: flex;
    flex: 2;
    justify-content: space-around;
    align-items: center;
}
.buttonLabel{
    overflow: hidden;
    line-height: 18px;
    max-height: 54px;
    display: -webkit-inline-box;
    -webkit-line-clamp: 3;
    white-space: normal;
    /* -webkit-box-orient: vertical; */
    align-self: center;
}