.navbar {
  background-color: white;
  display: flex;
  padding: 0.1rem;
  text-align: center;
  align-items: center;
  position: sticky;
  top: 0;
}
.navbarWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 10px;
}
.Redditlogo {
  width: 100px;
  height: 60px;
}
.ButtonGroup {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
